@import "tailwindcss";



@theme {
  --color-primary: #003459;
  --color-primary-40: #0078CD;
  --color-primary-60: #00528C;
  --color-primary-80: #002A48;

  --color-secondary: #F7DBA7;
  --color-secondary-40: #FCEED5;
  --color-secondary-60: #F1D092;
  --color-secondary-80: #EEC77E;

  --color-pink-red: #FF564F;
  --color-green-light: #34C759;
  --color-orange-shine: #FF912C;
  --color-state: #00A7E7;

  --color-neutral-00: #FDFDFD;
  --color-neutral-10: #EBEEEF;
  --color-neutral-20: #CCD1D2;
  --color-neutral-40: #99A2A5;
  --color-neutral-60: #667479;
  --color-neutral-80: #242B33;
  --color-neutral-100: #00171F;

  --bg-gradient-brand: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);

  --bg-split: linear-gradient(
    90deg,
    #242B33 0%,
    #242B33 52.59%,
    #D7D7D7 52.6%,
    #D2D2D2 100%
  );

  --custom-shadow: 0px -6px 6px 0px #0000000F;


  --font-gilroy: "Gilroy", sans-serif;
}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* @font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
} */

@utility bg-brand-gradient {
  background: var(--bg-gradient-brand);
}

@utility bg-split {
  background: var(--bg-split);
}

@utility custom-shadow {
  box-shadow: var(--custom-shadow);
}